<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/steveaq/pitchiq/5263668ae346271829a7dba48d150233547946ec/_sass/_highlight.scss">
    <script src="https://raw.githubusercontent.com/steveaq/pitchiq/5263668ae346271829a7dba48d150233547946ec/assets/js/copyscript.js"></script>
</head>
<body>
  <pre>
    <div class="pre-banner">HTML</div>
    <code>
      <!-- Your HTML code snippet -->
    </code>
  </pre>

  <!-- Other code snippets -->
</body>
</html>
